Flask==3.1.0
gtts==2.5.4
keyboard==0.13.5
mediapipe==0.10.20
numpy==1.19.5
opencv_python==4.10.0.84
protobuf==4.25.3
pyautogui==0.9.54
pydub==0.25.1
pynput==1.7.7
pyttsx3==2.98
pywhatkit==5.4
Requests==2.32.3
SpeechRecognition==3.14.0
